<div>
    <div class="container">
      <h1 align="center">Bentley Details:</h1>
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="fname">Fuel</label>
          </div>
          <div class="col-75">
            <input type="number" id="fname" class="data" name="firstname" placeholder="Your name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Kilometers</label>
          </div>
          <div class="col-75">
            <input type="number" id="lname" class="data" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Temperature</label>
          </div>
          <div class="col-75">
            <input type="number" id="lname" class="data" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Chair Distance</label>
          </div>
          <div class="col-75">
            <input type="number" id="lname" class="data" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Chair Ungle</label>
          </div>
          <div class="col-75">
            <input type="number" id="lname" class="data" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="country">Locked</label>
          </div>
          <div class="col-75">
            <select id="country" class="data" name="country">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          <div class="col-25">
            <label for="country">Converted</label>
          </div>
          <div class="col-75">
            <select id="country" class="data" name="country">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="country">Light</label>
          </div>
          <div class="col-75">
            <select id="country" class="data" name="country">
              <option value="true">Opened</option>
              <option value="false">Closed</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="country">Windows</label>
          </div>
          <div class="col-75">
            <select id="country" class="data" name="country">
              <option value="true">Opened</option>
              <option value="false">Closed</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="country">Alarm</label>
          </div>
          <div class="col-75">
            <select id="country" class="data" name="country">
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
</div>
<router-outlet></router-outlet>